/* Universal styles */

html {
  font-size: 14px;
}

body {
  font-family: "Work sans", sans-serif;
  background-color: rgb(255,242, 242);
}

h1, h2 {
  font-weight: 700;
  font-size: 2.5rem;
  color: rgb(32, 64, 86);
}

h2 {
  font-size: 1rem;
}

p{
  color: rgb(74, 74, 74);
}

/* Game box */

#game {
  margin-top: 5.25rem;
}

.card {
  border: 4px solid #ffffff;
  border-radius: 9px;
  background-color: rgb(32, 64, 86);
  font-weight: 900;
  font-size: 7rem;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card:hover {
  cursor: pointer;
}

/* Stats section */

.stats {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 9px 12px;
  margin-top: 20px;
  background-color: rgb(242,229,90);
  border-radius: 4px;
  border: 1px solid  rgb(220,202,7);
}

.stats h2 {
  margin: 0;
}

.stats span {
  font-weight: bolder;
  color: rgb(213,133,18);
}

button {
  margin-top: 20px;
}

/* Win display */

#win {
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 100;
}

#win .container {
  width: 600px;
  background-color: #ffffff;
  border: 5px solid rgb(32, 64, 86);
  border-radius: 5px;
}

#win .box {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid #ffffff;
  border-radius: 9px;
  background-color: rgb(32, 64, 86);
  height: 100px;
  font-weight: 900;
  font-size: 4rem;
}

@media only screen and (max-width: 992px) {
  #win .container {
    width: 400px;
  }
}

#win .face-up {
  background-color: rgb(153, 153, 153);
  color: rgb(204, 204, 204);
}

#win .text-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  border: 4px solid #ffffff;
  border-radius: 9px;
}

#win .container div:nth-child(1) .text-box {
  background-color: hsl(220, 85%, 65%);
}
#win .container div:nth-child(2) .text-box {
  background-color: hsl(160, 85%, 65%);
}
#win .container div:nth-child(3) .text-box {
  background-color: hsl(310, 85%, 65%);
}

#win h1 {
  color: rgb(255, 255, 255);
  margin:0;
}

#win h2 {
  color: rgb(255, 255, 255);
}
